{% extends "base.html" %}

{% block content %}


<form method="post" action="/account/doLogin" data-bitwarden-watching="1">
    <input type="hidden" name="token" value="">
    <table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
        <tbody><tr>
            <td bgcolor="#86a9b6">
                <table border="0" cellspacing="1px" cellpadding="5px" width="100%">
                    <tbody><tr>
                        <td class="category" colspan="2"><font color="#163c4b"><strong>Login</strong></font></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF" width="22%">Username</td>
                        <td bgcolor="#f4f7f8"><input type="text" name="username" size="25" maxlength="25" data-com.bitwarden.browser.user-edited="yes">&nbsp;<span class="smalltxt"><a href="member.php?action=reg">Need to register?</a></span></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF">Password:</td>
                        <td bgcolor="#f4f7f8"><input type="password" name="password" size="25" data-com.bitwarden.browser.user-edited="yes">&nbsp;<span class="smalltxt"><a href="misc.php?action=lostpw">Forgot password?</a></span><br></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF">Trust This Device - Stay logged in</td>
                        <td bgcolor="#f4f7f8"><input type="checkbox" name="trust" value="yes"></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF">Browse the board invisible</td>
                        <td bgcolor="#f4f7f8"><input type="checkbox" name="hide" value="1"></td>
                    </tr>
                    <tr class="ctrtablerow">
                        <td bgcolor="#f4f7f8" colspan="2"><input type="submit" class="submit" name="loginsubmit" value="Login"></td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody></table>
</form>
{% endblock content %}