{% extends "base.html" %}

{% block content %}


<form method="post" action="/account/doLogin" data-bitwarden-watching="1">
    <input type="hidden" name="token" value="">
    <table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
        <tbody><tr>
            <td bgcolor="#86a9b6">
                <table border="0" cellspacing="1px" cellpadding="5px" width="100%">
                    <tbody><tr>
                        <td class="category" colspan="2"><font color="#163c4b"><strong>登录</strong></font></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF" width="22%">用户名</td>
                        <td bgcolor="#f4f7f8"><input type="text" name="username" size="25" maxlength="25" >&nbsp;<span class="smalltxt"><a href="/account/reg">没有注册?</a></span></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF">密码:</td>
                        <td bgcolor="#f4f7f8"><input type="password" name="password" size="25" >&nbsp;<span class="smalltxt"><a href="/account/lostpw">忘记密码?</a></span><br></td>
                    </tr>

                    <tr class="ctrtablerow">
                        <td bgcolor="#f4f7f8" colspan="2"><input type="submit" class="submit" name="loginsubmit" value="登录"></td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody></table>
</form>
{% endblock content %}