{% extends "base.html" %}

{% block content %}

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

<form method="post" action="/account/doReg" onsubmit="return disableButton(this);">
    <table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
        <tbody><tr>
            <td bgcolor="#86a9b6">
                <table border="0" cellspacing="1px" cellpadding="5px" width="100%">
                    <tbody><tr>
                        <td colspan="2" class="category"><font color="#163c4b"><strong>Register - Required:</strong></font></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF" width="22%">Username</td>
                        <td bgcolor="#f4f7f8"><input type="text" name="username" size="25" maxlength="25"> Usernames may contain printable characters except []'&lt;&gt;\|",@</td>
                    </tr>

                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF" width="22%">E-Mail</td>
                        <td bgcolor="#f4f7f8"><input type="text" name="email" size="25" value=""></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF" width="22%">Password</td>
                        <td bgcolor="#f4f7f8"><input type="text" name="password" size="25" value=""></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF" width="22%">Repeat password</td>
                        <td bgcolor="#f4f7f8"><input type="text" name="password2" size="25" value=""></td>
                    </tr>
                    <tr class="tablerow">
                        <td bgcolor="#FFFFFF" width="22%"> </td>
                        <td bgcolor="#f4f7f8">
                            <div class="h-captcha" data-sitekey="{{ captcha_key }}"></div>

                        </td>
                    </tr>   <tr class="tablerow">
                        <td bgcolor="#FFFFFF" width="22%"> </td>
                        <td bgcolor="#f4f7f8">
                           <input type="submit" value="注册">

                        </td>
                    </tr>

                    </tbody></table>
            </td>
        </tr>
        </tbody></table>
</form>

{% endblock content %}