/* XMB Stylesheet */
body {
    scrollbar-arrow-color: #d3dfe4;
    scrollbar-base-color: #FFFFFF;
    text-align: left;
    background-image: url(/assets/images/davis/bg.gif);
}

a {
    color: #24404b;
    text-decoration: none;
}

a:hover, .category a:hover {
    text-decoration: underline;
}

.category a {
    color: #163c4b;
    text-decoration: none;
}

form {
    margin: 0px;
}

hr {
    color:  #86a9b6;
    background-color: #86a9b6;
    border: 0px;
    height: 1px;
}

#tickertoggle {
    color: #163c4b;
}

table.code {
    border: 1px solid #86a9b6;
    margin: 15px auto 10px auto;
}

td.code {
    background-color: #d3dfe4;
    border-bottom: 1px solid #86a9b6;
    color: #24404b;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    padding-left: 5px;
}

code {
    background-color: #f4f7f8;
    color: #000000;
    font-size: 11px;
    padding: 10px 5px 10px 5px;
    white-space: pre;
    display: block;
    width: 600px;
    max-height: 400px;
    overflow: auto;
}

table.quote {
    border: 1px solid #86a9b6;
    margin: 15px 5% 10px 5%;
    width: 80%;
}

td.quote {
    background-color: #d3dfe4;
    border-bottom: 1px solid #86a9b6;
    color: #24404b;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    padding-left: 5px;
}

td.quotemessage {
    background-color: #f4f7f8;
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    padding: 10px 0 20px 5px;
}

textarea, select, input, object {
    background-color: #FFFFFF;
    border: 1px solid #86a9b6;
    color: #000000;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    table-layout: fixed;
}

.category {
    background-image: url(/assets/images/davis/catbar.gif);
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    table-layout: fixed;
    text-align: left;
}

.ctrcategory {
    background-image: url(/assets/images/davis/catbar.gif);
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    table-layout: fixed;
    text-align: center;
}

.ctrtablerow {
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    table-layout: fixed;
    text-align: center;
}

.header {
    background-color: #d3dfe4;
    color: #24404b;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    table-layout: fixed;
}

.header2 {
    background-color: #FFFFFF;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    table-layout: fixed;
}

.mediumtxt {
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    font-weight: normal;
    table-layout: fixed;
}

.multi {
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    table-layout: fixed;
}

.nav {
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    font-weight: bold;
    table-layout: fixed;
}

.navtd {
    background-color: #d3dfe4;
    color: #24404b;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    table-layout: fixed;
    text-decoration: none;
}

.navtd2 {
    background-color: #d3dfe4;
    color: #24404b;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 9px;
    table-layout: fixed;
    text-decoration: none;
}

.post {
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 13px;
    font-weight: normal;
}

.rghttablerow {
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    table-layout: fixed;
    text-align: right;
}

.lastpostcell {
    color: #000000;
    table-layout: fixed;
    text-align: right;
    padding: 0;
}

.lastpostcell img {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.tablelinks .lastpostcell a {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.sig {
    border-top: 1px dashed #86a9b6;
    padding: 13px 0 0 3px;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
}

.smalltxt {
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 10px;
    table-layout: fixed;
}

.subject {
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    font-weight: bold;
}

.submit {
    text-align: center;
}

.tablerow {
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, Verdana;
    font-size: 11px;
    table-layout: fixed;
}

.status_Super_Administrator {
    text-decoration: underline;
    font-weight: bold;
    color: #000000;
    font-family: Verdana;
    font-size: 10px;
    font-style: italic;
}

.status_Administrator {
    text-decoration: underline;
    font-weight: bold;
    color: #000000;
    font-family: Verdana;
    font-size: 10px;
}

.status_Super_Moderator {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-family: Verdana;
    font-size: 10px;
    font-style: italic;
}

.status_Moderator {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-family: Verdana;
    font-size: 10px;
}

.status_Member, .status_Banned {
    text-decoration: none;
    font-weight: normal;
    color: #000000;
    font-family: Verdana;
    font-size: 10px;
}

.tablelinks td {
    overflow: hidden;
}
.tablelinks td a {
    display: block;
    width: 100%;
    margin: -1em;
    padding: 1em;
}
.tablelinks .plainlinks a, .tablelinks .multi a {
    display: inline;
    width: unset;
    margin: 0;
    padding: 0;
}
.video {
    border: none;
    height: 344px;
    width: 600px;
}
@media screen and (min-width: 1200px) {
    code {
        width: 800px;
    }
}
@media screen and (min-width: 1500px) {
    code {
        width: 1100px;
    }
}
@media screen and (min-width: 1850px) {
    code {
        width: 1400px;
    }
}
@media screen and (max-width: 850px) {
    .video {
        height: 300px;
        width: 425px;
    }
    code {
        width: 425px;
    }
}
@media screen and (max-width: 600px) {
    .video {
        height: 300px;
        width: 350px;
    }
    code {
        width: 350px;
    }
}



body {
    background-repeat: repeat-x;
    background-color: #fff;
}

.logo-banner-container {
    background-size: contain;
    background-image: url(/assets/images/davis/topbg.gif);
}