{% extends "base.html" %}


{% block content %}

<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="1px" cellpadding="5px" width="100%" align="center" class="tablelinks">

                <tr class="header" align="center">
                    <td width="4%">&nbsp;</td>
                    <td width="54%">论坛分区:</td>
                    <td width="6%">子论坛:</td>
                    <td width="10%">创建时间/修改时间:</td>
                    <td width="15%">操作:</td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=1"><font class="mediumtxt"><strong>Announcements</strong></font><br /><br /><font class="smalltxt">Service Bulletins and Administrative Announcements.</font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">30</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="10%"><font class="mediumtxt">167</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="15%"><table cellpadding="0" cellspacing="0" border="0" width="100%">

                        修改  | 删除
                    </table>

                    </td>
                </tr>



            </table>
        </td>
    </tr>
</table>
<br />


{% endblock content %}