{% extends "base.html" %}


{% block content %}

<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="1px" cellpadding="5px" width="100%" align="center" class="tablelinks">

                <tr>
                    <td colspan="5" class="category"><a href="index.php?gid=443"><font color="#163c4b"><strong>General</strong></font></a></td>
                </tr>

                <tr class="header" align="center">
                    <td width="4%">&nbsp;</td>
                    <td width="54%">Forum:</td>
                    <td width="6%">Topics:</td>
                    <td width="6%">Posts:</td>
                    <td width="19%">Last Post:</td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=1"><font class="mediumtxt"><strong>Announcements</strong></font><br /><br /><font class="smalltxt">Service Bulletins and Administrative Announcements.</font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">30</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="6%"><font class="mediumtxt">167</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="19%"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr class="rghttablerow">
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=1" title="Go to last post" class="smalltxt">2-12-2022 at 06:35 PM<br />by miqrogroove</a></td>
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=1" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post" /></a></td>
                        </tr>
                    </table>

                    </td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=29"><font class="mediumtxt"><strong>Social Discussions</strong></font><br /><br /><font class="smalltxt">You can discuss anything off topic here. Be appropriate though.</font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">40</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="6%"><font class="mediumtxt">308</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="19%"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr class="rghttablerow">
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=29" title="Go to last post" class="smalltxt">2-12-2022 at 06:22 PM<br />by miqrogroove</a></td>
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=29" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post" /></a></td>
                        </tr>
                    </table>

                    </td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=105"><font class="mediumtxt"><strong>Feedback &amp; Suggestions</strong></font><br /><br /><font class="smalltxt">Post your feedback and suggestions about the site here.</font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">10</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="6%"><font class="mediumtxt">43</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="19%"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr class="rghttablerow">
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=105" title="Go to last post" class="smalltxt">9-20-2020 at 08:30 PM<br />by Magnumxe</a></td>
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=105" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post" /></a></td>
                        </tr>
                    </table>

                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<br />
<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="1px" cellpadding="5px" width="100%" class="tablelinks">

                <tr>
                    <td colspan="5" class="category"><a href="index.php?gid=20"><font color="#163c4b"><strong>Support</strong></font></a></td>
                </tr>

                <tr class="header" align="center">
                    <td width="4%">&nbsp;</td>
                    <td width="54%">Forum:</td>
                    <td width="6%">Topics:</td>
                    <td width="6%">Posts:</td>
                    <td width="19%">Last Post:</td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=469"><font class="mediumtxt"><strong>XMB Support 1.9.12</strong></font><br /><br /><font class="smalltxt">General discussion and information about <b>XMB 1.9.12</b> Installations, Upgrades, Problems, Bugs, and general questions about this release.</font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">6</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="6%"><font class="mediumtxt">21</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="19%"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr class="rghttablerow">
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=469" title="Go to last post" class="smalltxt">11-14-2021 at 12:12 PM<br />by alkutob</a></td>
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=469" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post" /></a></td>
                        </tr>
                    </table>

                    </td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=21"><font class="mediumtxt"><strong>XMB Support 1.9.11</strong></font><br /><br /><font class="smalltxt">General discussion and information about <b>XMB 1.9.11</b> Installations, Problems, Bugs, Fixes and general questions about this release.</font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">139</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="6%"><font class="mediumtxt">783</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="19%"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr class="rghttablerow">
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=21" title="Go to last post" class="smalltxt">4-11-2021 at 02:32 PM<br />by miqrogroove</a></td>
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=21" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post" /></a></td>
                        </tr>
                    </table>

                    </td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=440"><font class="mediumtxt"><strong>Fixes / Patches</strong></font><br /><br /><font class="smalltxt">Patches Specific to New Issues.</font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">35</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="6%"><font class="mediumtxt">41</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="19%"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr class="rghttablerow">
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=440" title="Go to last post" class="smalltxt">5-10-2021 at 03:14 PM<br />by miqrogroove</a></td>
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=440" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post" /></a></td>
                        </tr>
                    </table>

                    </td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=353"><font class="mediumtxt"><strong>International Support Forums</strong></font><br /><br /><font class="smalltxt">General discussion and information <b>in various languages</b>. Installations, Problems, Bugs, Fixes and general questions. </font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">18</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="6%"><font class="mediumtxt">55</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="19%"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr class="rghttablerow">
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=353" title="Go to last post" class="smalltxt">5-8-2021 at 03:21 PM<br />by miqrogroove</a></td>
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=353" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post" /></a></td>
                        </tr>
                    </table>

                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<br />
<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="1px" cellpadding="5px" width="100%" class="tablelinks">

                <tr>
                    <td colspan="5" class="category"><a href="index.php?gid=140"><font color="#163c4b"><strong>XMB Development</strong></font></a></td>
                </tr>

                <tr class="header" align="center">
                    <td width="4%">&nbsp;</td>
                    <td width="54%">Forum:</td>
                    <td width="6%">Topics:</td>
                    <td width="6%">Posts:</td>
                    <td width="19%">Last Post:</td>
                </tr>

                <tr>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="4%"><img src="/assets/images/davis/folder.gif" alt="Folder" border="0" /></td>
                    <td bgcolor="#f4f7f8" class="tablerow" width="54%"><a href="/forumdisplay?fid=468"><font class="mediumtxt"><strong>1.9.12 Beta Chat</strong></font><br /><br /><font class="smalltxt">Tell us what you like and what you broke!</font></a><span class="smalltxt plainlinks"></span><font class="smalltxt"></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow" width="6%"><font class="mediumtxt">10</font></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow" width="6%"><font class="mediumtxt">86</font></td>
                    <td bgcolor="#FFFFFF" class="lastpostcell" width="19%"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr class="rghttablerow">
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=468" title="Go to last post" class="smalltxt">4-14-2021 at 05:42 AM<br />by miqrogroove</a></td>
                            <td bgcolor="#FFFFFF" nowrap="nowrap"><a href="/viewthread?goto=lastpost&amp;fid=468" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post" /></a></td>
                        </tr>
                    </table>

                    </td>
                </tr>


            </table>
        </td>
    </tr>
</table>
<br />
<table border="0" cellpadding="0" cellspacing="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td class="tablerow" colspan="2" width="100%">
                        <table cellspacing="1px" cellpadding="5px" border="0" width="100%" align="center">
                            <tr>
                                <td colspan="2" class="category">
                                    <a href="/misc?action=online"><strong><font color="#163c4b">Who's Online</font></strong></a><font color="#163c4b"> - <span class='smalltxt'>There are currently <strong>4</strong> Guests, <strong>0</strong> Members and <strong>0</strong> Invisible Members browsing XMB Forum Software</span></font>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#FFFFFF" colspan="2" class="smalltxt">
                                    Key:
                                    <span class="status_Super_Administrator">Super Administrator</span> -
                                    <span class="status_Administrator">Administrators</span> -
                                    <span class="status_Super_Moderator">Super Moderators</span> -
                                    <span class="status_Moderator">Moderators</span> -
                                    <span class="status_Member">All Registered Members</span>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#FFFFFF" align="center" width="4%">
                                    <img src="/assets/images/davis/online.gif" alt="Who's Online" border="0" />
                                </td>
                                <td bgcolor="#f4f7f8" class="mediumtxt">
                                    &nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="category">
                                    <a href="/misc?action=onlinetoday"><strong><font color="#163c4b">[+] Last 50 Members Who Have Visited Today (if applicable)</font></strong></a>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#f4f7f8" colspan="2" class="mediumtxt">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#FFFFFF" colspan="2" class="mediumtxt">0 members have visited the site today</td>
                            </tr>


                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<br />
<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="1px" cellpadding="5px" width="100%">
                <tr>
                    <td align="left" class="category"><font color="#163c4b"><strong>Stats:</strong></font></td>
                    <td align="left" class="category"><font color="#163c4b"><strong>Key: </strong></font></td>
                </tr>
                <tr class="tablerow" bgcolor="#f4f7f8">
                    <td width="50%" align="left" valign="top"><strong>530</strong> topics / <strong>2858</strong> posts / <strong>428</strong> members<br />Please welcome our newest member <a href="member.php?action=viewpro&amp;member=TenderHeart"><strong>TenderHeart</strong></a>.</td>
                    <td width="50%" align="left" valign="top"><img src="/assets/images/davis/red_folder.gif" alt="Red Folder" /> = New posts in this forum since last active<br /><img src="/assets/images/davis/folder.gif" alt="Normal Folder" /> = No new posts in this forum since last active</td>
                </tr>
            </table>
        </td>
    </tr>
</table>



{% endblock content %}