
<!DOCTYPE html>
<html>
<!-- $versionlong  -->
<!-- Build: $versionbuild -->
<!-- $versioncompany -->
<head>
    <!--$baseelement$canonical_link-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=500, initial-scale=1" />
    <title>NFido 论坛 - Power the community！</title>
    <link rel='stylesheet' type='text/css' href='/assets/css/default.css' />
    <script type="text/javascript" src="/assets/js/header.js?v=2"></script>
</head>












<body text="{$THEME['text']}">






<a name="top"></a>
<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="1px" cellpadding="6" width="100%">
                <tr>
                    <td width="74%" class="logo-banner-container">
                        <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" rowspan="2"><a href="./"><img src="/assets/images/logo.png" alt="NFido 论坛" border="0" /></a></td>
                                <td align="right" valign="top"><font class="smalltxt"><br /></font></td>
                            </tr>
                            <tr>
                                <td align="right" valign="bottom"><font class="smalltxt">未登录 [<a href="/misc?action=login">登录</a> - <a href="member.php?action=reg">注册</a>]</font></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="navtd">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="navtd">
                                    <font class="navtd"><img src="/assets/images/davis/top_search.gif" alt="搜索" border="0" />
                                        <a href="search.php"><font class="navtd">搜索</font></a> &nbsp;
                                        <img src="/assets/images/davis/top_faq.gif" alt="FAQ" border="0" />
                                        <a href="faq.php"><font class="navtd">FAQ</font></a> &nbsp;
                                        <img src="/assets/images/davis/top_memberslist.gif" alt="查看用户列表" border="0" />
                                        <a href="/misc?action=list"><font class="navtd">用户列表</font></a> &nbsp;
                                        <img src="/assets/images/davis/top_todaysposts.gif" alt="今日帖子" border="0" />
                                        <a href="today.php"><font class="navtd">今日帖子</font></a> &nbsp;
                                        <img src="/assets/images/davis/top_stats.gif" alt="论坛统计" border="0" />
                                        <a href="stats.php"><font class="navtd">统计</font></a> &nbsp;
                                        <img src="/assets/images/davis/top_bbrules.gif" alt="论坛须知" border="0" />
                                        <a href="faq.php?page=forumrules"><font class="navtd">论坛须知</font></a> &nbsp;
                                        <img src="/assets/images/davis/top_bbrules.gif" border="0" alt="下载" />&nbsp;
                                        <a href="https://github.com/nfido/nfido/releases"><font class="navtd">下载</font></a>&nbsp;&nbsp;&nbsp;
                                        <img src="/assets/images/davis/top_bbrules.gif" border="0" alt="源码" />&nbsp;
                                        <a href="https://github.com/nfido/nfido"><font class="navtd">源码</font></a>&nbsp;&nbsp;&nbsp;
                                        <img src="/assets/images/davis/top_bbrules.gif" border="0" alt="问题" />&nbsp;
                                        <a href="https://github.com/nfido/nfido/issues"><font class="navtd">问题</font></a>&nbsp;&nbsp;&nbsp;
                                        <img src="/assets/images/davis/top_bbrules.gif" border="0" alt="文档" />&nbsp;
                                    <a href="https://nfido.doc.bsmi.info/"><font class="navtd">文档</font></a>&nbsp;</font></td>
                                <td align="right"><a href="https://nfido.bsmi.info/" title="NFido 论坛首页"><font class="navtd">返回: <img src="/assets/images/davis/top_home.gif" border="0" alt="NFido论坛首页" /></font></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="1" border="0" width="97%" align="center">
    <tr>
        <td><table width="100%" cellspacing="0" cellpadding="5px" align="center">
            <tr>
                <td class="nav"> <a href="./">XMB Forum Software</a> </td>
                <td align="right"></td>
                <td align="right" width="1"><a href="#bottom" title="Go To Bottom"><img src="/assets/images/davis/arrow_dw.gif" border="0" alt="Go To Bottom" /></a></td>
            </tr>
        </table>
        </td>
    </tr>
</table>
<br />


<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="1px" cellpadding="5px" width="100%">
                <tr>
                    <td class="category" colspan="2"><font color="#163c4b"><strong>You Are Not Registered Or Not Logged In</strong></font></td>
                </tr>
                <tr bgcolor="#f4f7f8" class="tablerow">
                    <td><font size="1">If you are not registered or logged in, you may still be able to view forums and topics, but you will not have access to your user control panel or settings</font></td>
                    <td align="right" width="25%">
                        <form method="post" action="/misc?action=login" onsubmit="return disableButton(this);">
                            <input type="hidden" name="token" value="" />
                            <input type="hidden" name="hide" value="2" />
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td nowrap="nowrap">
                                        <input type="text" name="username" size="7" accesskey="u" />
                                        <input type="password" name="password" size="7" accesskey="p" />
                                        <input type="submit" class="submit" name="loginsubmit" value="Login" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />



<table width="97%" cellspacing="0" cellpadding="0" align="center">
    <tbody><tr>
        <td class="post" align="right">&nbsp;</td>
    </tr>
    </tbody></table>
<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center" bgcolor="#86a9b6">
    <tbody><tr>
        <td>
            <table border="0" cellspacing="1px" cellpadding="5px" width="100%" class="tablelinks">

                <tbody><tr class="header" align="center">
                    <td width="4%">&nbsp;</td>
                    <td width="4%">Icon:</td>
                    <td width="47%">Subject:</td>
                    <td width="14%">Author:</td>
                    <td width="6%">Replies:</td>
                    <td width="6%">Views:</td>
                    <td width="19%">Last Post:</td>
                </tr>
                <tr>
                    <td bgcolor="#f4f7f8" class="ctrtablerow"><img src="/assets/images/davis/red_folder.gif" alt="Folder" border="0"></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow"></td>
                    <td bgcolor="#f4f7f8" class="tablerow"><font class="mediumtxt"><a href="viewthread?tid=1">test</a></font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow"><a href="member.php?action=viewpro&amp;member=admin">admin</a></td>
                    <td bgcolor="#f4f7f8" class="ctrtablerow"><font class="mediumtxt">0</font></td>
                    <td bgcolor="#FFFFFF" class="ctrtablerow"><font class="mediumtxt">3</font></td>
                    <td bgcolor="#f4f7f8" class="lastpostcell"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody><tr align="right">
                            <td bgcolor="#f4f7f8" class="rghttablerow" nowrap="nowrap"><a href="viewthread?goto=lastpost&amp;tid=1" title="Go to last post" class="smalltxt">17-3-2022 at 06:13 AM<br>by admin</a></td>
                            <td bgcolor="#f4f7f8" class="rghttablerow" nowrap="nowrap"><a href="viewthread?goto=lastpost&amp;tid=1" title="Go to last post"><img src="/assets/images/davis/lastpost.gif" border="0" alt="Go to last post"></a></td>
                        </tr>
                        </tbody></table>

                    </td>
                </tr>


                <tr>
                    <td colspan="7" class="ctrtablerow" bgcolor="#f4f7f8">
                        <form method="post" action="forumdisplay.php?fid=1">
                            <input type="hidden" name="token" value="">
                            Show topics from
                            &nbsp;&nbsp;
                            <select name="cusdate">
                                <option value="86400">last day</option>
                                <option value="432000">last 5 days</option>
                                <option value="1296000">last 15 days</option>
                                <option value="2592000">last 30 days</option>
                                <option value="5184000">last 60 days</option>
                                <option value="8640000">last 100 days</option>
                                <option value="31536000">last year</option>
                                <option value="0" selected="selected">the beginning</option>
                            </select>
                            &nbsp;&nbsp;
                            and sort them by
                            &nbsp;&nbsp;
                            <select name="ascdesc">
                                <option value="ASC">Ascending</option>
                                <option value="DESC" selected="selected">Descending</option>
                            </select>
                            &nbsp;&nbsp;<input type="submit" class="submit" value="Display Results">
                        </form>


                    </td>
                </tr>

                </tbody></table>
        </td>
    </tr>
    </tbody></table>
<table width="97%" cellspacing="1px" cellpadding="5px" align="center" style="margin-top: 3px">
    <tbody><tr>
        <td class="post" align="right">&nbsp;</td>
    </tr>
    </tbody></table>
<br>
<table width="97%" cellspacing="1px" cellpadding="5px" align="center"><tbody><tr>
    <td class="tablerow"><img src="/assets/images/davis/red_folder.gif" alt="Red Folder">&nbsp;An open topic with new posts (&nbsp;
        <img src="/assets/images/davis/hot_red_folder.gif" alt="Hot Red Folder">&nbsp;more than 20 replies&nbsp;)<br>
        <img src="/assets/images/pixel.gif" width="1" height="4" alt="*"><br>
        <img src="/assets/images/davis/folder.gif" alt="Folder">&nbsp;An open topic (&nbsp;
        <img src="/assets/images/davis/hot_folder.gif" alt="Hot Folder">&nbsp;more than 20 replies&nbsp;)<br>
        <img src="/assets/images/pixel.gif" width="1" height="4" alt="*"><br>
        <img src="/assets/images/davis/lock_folder.gif" alt="Closed Topic">&nbsp;A closed topic</td>
</tr>
</tbody></table>




<br />
<table cellspacing="1px" cellpadding="0" border="0" width="97%" align="center" bgcolor="#86a9b6">
    <tr>
        <td>
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="nav" style="padding-bottom: 1px" bgcolor="#f4f7f8">&nbsp;<a href="./">XMB Forum Software</a></td>
                    <td class="tablerow" align="right" bgcolor="#f4f7f8">&nbsp;</td>
                    <td align="right" bgcolor="#f4f7f8" width="2%"><a href="#top" title="Go To Top"><img src="/assets/images/davis/arrow_up.gif" style="margin-right: 3px" border="0" alt="Go To Top" /></a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />
<table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
    <tr>
        <td bgcolor="#86a9b6">
            <table border="0" cellspacing="1px" cellpadding="5px" width="100%">
                <tr class="ctrtablerow">
                    <td class="smalltxt" bgcolor="#f4f7f8">
                        Powered by XMB 1.9.12
                        <br />
                        <a href="https://www.xmbforum2.com/" onclick="window.open(this.href); return false;"><strong><abbr title="eXtreme Message Board">XMB</abbr> Forum Software</strong></a>&nbsp;&copy; 2001-2021 The XMB Group
                        <br />

                        [Queries: <strong>12</strong>]


                        [PHP: <strong>54.7%</strong> - SQL: <strong>45.3%</strong>]




                        <br />
                        <!-- Thanks to <a href="https://www.lottos.com.au/competitions/" title="competitions">competitions</a> website. -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<a id="bottom" name="bottom"></a>


</body>
</html>